@model string?
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form method="post">
        <input type="text" placeholder="Ведите первый операнд" name="value1">
        <input type="text" placeholder="Ведите второй операнд" name="value2">
        <select name="operation" id="">
            <option>Сложение</option>
            <option>Вычитание</option>
            <option>Деление </option>
            <option>Умножение</option>
        </select>
        <button type="submit">Провести расчет</button>
    </form>
    @if (Model != null) {
        <p>Результат вычисления: @Model</p>
    }
</div>
