global:
 scrape_interval: 15s
scrape_configs:
 - job_name: 'my_app'
 static_configs:
 - targets: ['localhost:5010']


groups:
- name: example_alert
 rules:
 - alert: HighRequestLatency
 expr: http_request_duration_seconds_sum / http_request_duration_seconds_count > 0.5
 for: 5m
 labels:
 severity: critical
 annotations:
 summary: "High request latency detected"
 description: "The request latency is above 0.5 seconds for more than 5 minutes."
